.hide {
	display: none
}

.profile-content {
	display: none
}


.mobile-nav {
  display: none;
}

h1 {
  transition: all 0.5s;
}


.macbook {
  position: relative;
  left: 0;

}

.iphone {
  position: relative;
  right: 0;
}

nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  z-index: 30;
}

nav.fixed + #intro {
  padding: 130px 0 50px;
}

.animates {
  transition: all 0.8s;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(30px);
}

#foursquare {
  display: none;
}

footer a {
  display: inline-block;
  color: #999999;
  text-decoration: none;
  padding: 10px 30px 10px 20px;
  line-height: 60px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.4s;
}

.logo {
  margin: 15px 0;
  z-index: 20;
  color: #ffffff;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.6;
  color: #393939;
  background-color: rgba(0,0,0,0);
  text-transform: uppercase;
  border: 4px solid #393939;
  position: absolute;
  left: 10%;
  padding: 0 12px 0 14px;
}

.headerlogo {
  z-index: 20;
  color: #ffffff;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  background-color: rgba(0,0,0,0);
  position: relative;
  top: 10%;

}