<!DOCTYPE html>
<html ng-app="Events">
<head>

  <!-- Basic Page Needs...
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Tomorrow and Today</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="title" content="Log in | Tomorrow and Today">
    <meta name="description" content="Tomorrow and Today is a cultural discovery platform to make finding events near you easier.">
    <!-- Google will often use this as its description of your page/site. Make it good. -->
    <meta name="author" content="Tomorrow and Today">
    <meta name="Copyright" content="Tomorrow and Today 2015. All Rights Reserved.">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
 rel='stylesheet' type='text/css'>

  <!-- CSS
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/TTfavicon1.ico">

  
</head>
<body ng-controller="MainCtrl">
  
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <!--Navigation-->
<nav id="mobile-navigation" class="mobile-nav">
  <!--MOBILE - Use tympanus.net fullscreen overlay-->
  <div class="nav-wrapper" data-content-field="navigation-mobileNav">
    <ul>
      <li class=>
        <a href="/">Home</a>
      </li>
      <li class=>
        <a href="/upcoming/">Upcoming</a>
      </li>
      <li class=>
        <a href="/nearby/">Nearby</a>
      </li>
      <!--<li class=>
        <a href="/about/">About</a>
      </li>-->
      <li class>
        <a href="/blog/">Blog</a>
      </li>
      <!-- Social media links -->
      <li class>
        <a href="/contact/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="opacity-overlay"></div>



<container class="header">
<header>
    <div class="overlay"></div>
      <!-- logo goes here -->
    <div class="three-columns">

      <h1>Sign up to our weekly newsletter for a sneak peek into the art and design world in London.</h1>
      <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//today.us9.list-manage.com/subscribe/post?u=71f81788eeb952b3040e597ab&amp;id=81fc2fda0f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_71f81788eeb952b3040e597ab_81fc2fda0f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </div>
    </header>
</container>
    <nav>

      <!-- Make logo and log in appear here -->
      <a href="#home" class="logo"><img src="images/TTidentity.png" height="100px">
        </a></a>
      <a href="#today">Today</a>
      <a href="#tomorrow">Tomorrow</a>
      <a href="#future">Future</a>
      <a href="#about">About</a>

      <!-- Make search, map icons appear here-->

    </nav>


  <section id="today">
      <div class="container">
        
        <div class="row">
          <div class="one-half column" style="margin: 25%">
            
            <div ng-repeat="EventsToday">
            <h2>{{event.date}}</h2><!--Add to calendar functionality -->

            <a href="{{event.url}}" target="_blank">
            <h3>{{event.title}}</h3></a>
            
            <img ng-src="{{event.image}}"/>

            <p>{{event.description}}</p>
            <p>{{event.location}}</p>
            <p>{{event.price}}</p>

            </div>
          </div>
          
        </div>
      </div>
  </section>

  <section id="tomorrow">
      <div class="container">

        <div class="row">
          <div class="one-half column" style="margin: 25%">
            <div ng-repeat="EventsTomorrow">
            <h2>{{event.date}}</h2><!--Add to calendar functionality -->

            <a href="{{event.url}}" target="_blank">
            <h3>{{event.title}}</h3></a>
            
            <img ng-src="{{event.image}}"/>

            <p>{{event.description}}</p>
            <p>{{event.location}}</p>
            <p>{{event.price}}</p>
            
            </div>
          </div>
          
        </div>
      </div>
  </section>

  <section id="future">
      <div class="container">
        
        <div class="row">
          <div class="one-half column" style="margin: 25%">
            
            <div ng-repeat="EventsFuture">
            <h2>{{event.date}}</h2><!--Add to calendar functionality -->

            <a href="{{event.url}}" target="_blank">
            <h3>{{event.title}}</h3></a>
            
            <img ng-src="{{event.image}}"/>

            <p>{{event.description}}</p>
            <p>{{event.location}}</p>
            <p>{{event.price}}</p>
            
            </div>
          </div>
          
        </div>
      </div>
  </section>



  <section id="about">
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin: 25%">
        <h4>Tomorrow & Today is a jazzy spaceship.</h4>
        <p><a href=http://www.tomorrowand.today/>Sign up</a> for our newsletter!</p>
      </div>
    </div>
  </div>
  </section>
      
  


<footer>
      <div class="one-half column" style="margin-top: 2.7%">
        <p>Made with loveicon in Hoxton. Tomorrow and Today &copy; 2015</p>
      </div>

      
        <p>
        <a href="/blog/">Blog</a>
        <a href="/contact/">Contact</a>
      <!-- Newsletter and Social media links -->
     
  </p>
  

    </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="app/eventsFeed-app.start.js"></script>

</body>
</html>
